table.tablesorter thead tr .headerSortUp {
  color: red;
	background-image: url(sort_up.png);
}

table.tablesorter thead tr .headerSortDown {
	background-image: url(sort_down.png);
}

table.tablesorter thead tr {
  color: blue;
	background-image: url(sort.gif);
}

.nav_link {
  float: right;
}