
table.tablesorter thead tr .header {
  cursor: pointer;
}

table.tablesorter thead tr .header::after {
  content: url(sort.png);
}

table.tablesorter thead tr .headerSortUp::after {
	content: url(sort_down.png);
}

table.tablesorter thead tr .headerSortDown::after {
	content: url(sort_up.png);
}

.nav_link {
  float: right;
}

.barcode-uploader {
  float: left;
}
.file-uploader {
  float: right;
}